.body{
  margin: 20px;
}

h2 {
  font-size: x-large;
  color: white;
}

/*body {*/
/*  background-color: #1d1d1d;*/
/*}*/

/*img {*/
/*  border-radius: 5px;*/
/*}*/

/*!*.movie {*!*/
/*!*  margin: 20px 0;*!*/

/*!*.movie__images {*!*/

/*div.thumbnails .carousel {*/
/*  width: 100%;*/
/*  display: inline-block;*/
/*}*/

/*.slick-item {*/
/*  transition: all 0.3s ease;*/
/*}*/

/*.slick-item:hover {*/
/*  transform: scale(1.02);*/
/*  cursor: pointer;*/
/*}*/

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster{
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.carousel-inner {
  overflow: visible;
  padding: 0px;
}

.carousel-control{
  position: absolute;
  width: 100px;
  height: 100px;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  height: 200px;
}

.carousel-cell {
  width: fit-content;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: inline-block;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;

}
