h2 {
  font-size: x-large;
  color: white;
}

/*body {*/
/*  background-color: #1d1d1d;*/
/*}*/

/*img {*/
/*  border-radius: 5px;*/
/*}*/

/*!*.movie {*!*/
/*!*  margin: 20px 0;*!*/

/*!*.movie__images {*!*/

/*div.thumbnails .carousel {*/
/*  width: 100%;*/
/*  display: inline-block;*/
/*}*/

/*.slick-item {*/
/*  transition: all 0.3s ease;*/
/*}*/

/*.slick-item:hover {*/
/*  transform: scale(1.02);*/
/*  cursor: pointer;*/
/*}*/

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster{
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}




/*}*/
/*}*/
/*}*/
